<div class="slider_container">
    <div class="slider_content ">
        <div class="slider_line active"></div>
        <div class="slider_number active">1</div>
        <h3 class="slider_text active">Convict Personal Information</h3>
    </div>
    <div class="slider_content  ">
        <div class="slider_line "></div>
        <div class="slider_number  ">2</div>
        <h3 class="slider_text ">Passport/Image Upload</h3>
    </div>
    <div class="slider_content  ">
        <div class="slider_line "></div>
        <div class="slider_number  ">3</div>
        <h3 class="slider_text ">Fingerprint/Biometrics Data</h3>
    </div>
</div>

@code {

}
