<div id="topheader">
    <section class="topbar_container">
        <header class="custom_container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/dashboard">
                    <figure>
                        <img src="img/Logo-b027f9da.svg" width="62" alt="possap logo" height="62">
                    </figure>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Data Entries
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/data_entry">Convict Data</a>
                                <a class="dropdown-item" href="/queried_case_data">Queried Case Histories</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/queried_convicts_data">Queried Case Histories</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">Settings</a>
                        </li>
                        <div class="nav-item">
                            <div class="d-flex smallView justify-content-end align-items-center gap-3 cursorPointer">
                                <figure style="margin-bottom: 0px;">
                                    <img src="img/user-ec5ba1b4.svg"
                                         width="58" alt="user" height="58">
                                </figure>
                                <h3 class="topBar_text">John Doe Smith</h3>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/add_convict">Add Convict</a>
                                <a class="dropdown-item" href="/profile">View Profile</a>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </li>
                </div>
</div>

                    </ul>
                </div>
            </nav>
        </header>
    </section>
</div>

@code {

}