@using POSSAP_CCDB.Shared.Components
@inherits LayoutComponentBase

<PageTitle>POSSAP-CCDB</PageTitle>

<div class="page">

    <TopHeader/>

    <main>
        <article class="content px-4">
            @Body
        </article>

        <footer class="ant-layout-footer footerContainer">
            <img src="img/PossapLogo.svg" alt="possap logo"
                 width="20" height="20">
            <h3 class="footerText"> Powered by POSSAP</h3>
        </footer>
    </main>
</div>
